@charset "utf-8";
/**
 +------------------------------------------------------------------------------
 * 移动端产品服务作样式
 +------------------------------------------------------------------------------
 * @author    Richer <yangzi1028@163.com>
 * @version   2017年08月03日 11:37:20
 +------------------------------------------------------------------------------
 */
 .head_top {
    margin: 0px auto;
    text-align: center;
    padding: 50px 0;
}
.head_top div {
    display: inline-block;
    padding: 0 80px;
    border-bottom: 2px solid #00B6FF;
    padding-bottom: 10px;
}
.head_top h1 {
    font-size: 28px;
    font-weight: normal;
}
.head_top span {
    color: #00B6FF;
    letter-spacing: 1px;
}
.head_top p {
    color: #a6a6a6;
    font-size: 16px;
    padding-top: 3px;
}
.why { padding-bottom: 50px; }
.why .details { text-align: center; }
.why .details .left { float: left; }
.why .details .right { float: right; }
.why .details div { width: 30%; border: 1px solid #f8f8f8; display: inline-block; background: #fff}
.why .details div .polygon { font-size: 18px; color: #fff; line-height: 146px; width: 128px; height: 146px; display: inline-block; background: url(../../img/mobile/polygon.png) no-repeat; background-size: 100% 100%; margin-top: 25px; transition:all ease .3s; cursor:pointer; }
.why .details div .polygon:hover{-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg); background: url(../../img/mobile/polygon_h.png) no-repeat;}
.why .details div p { width: 80%; margin: 0 auto; text-align: left; font-size: 15px; margin-top: 20px; line-height: 170%; letter-spacing: 1px; color: #696969; }
.why .details div a { padding: 10px 30px; background: #078ada; font-size: 16px; color: #fff; display: inline-block; margin-top: 40px; }
.advantage { background: #f8f8f8; padding-bottom: 20px; }
.my_cus { padding-bottom: 50px; }
.service { background: #F8F8F8; padding-bottom: 100px; }
.service .service_1 { margin-top: 30px; }
.service .service_1 div img { /*float: left;*/ width: 55px; padding-top: 10px; }
.service .service_1 div { width: 33.33%; float: left; text-align: center;margin: 0 auto;}
.service .service_1 div .left { /*float: left;*/ width: 100%; text-align: center; }
.service .service_1 div .left h2 { font-weight: normal; font-size: 18px; color: #333333; }
.service .service_1 div .left p { font-size: 15px; padding-top: 5px; color: #696969; }


/* 我的业务九宫格 end ======================>*/